<% provide(:title, @title) %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1><%= link_to 'HOME', static_pages_home_url%></h1>
  	<h1><%= link_to 'HELP', static_pages_help_url%></h1>
  	<h1><%= link_to 'ABOUT', static_pages_about_url%></h1>
  	<h1><%= link_to 'USERS', users_path%></h1>
  	<h1><%= link_to 'Microposts', microposts_url%></h1>
    <%= yield %>
  </body>
</html>
